body {
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.grid {
    grid-template: 
    "head"
    "errorBox"
    "form"
    "data"
    "lowerDiv"
    ;
    grid-template-columns: auto;
    grid-template-rows: auto;
}
.grid-element {
    margin: 0.5em 0em;
}
.header {
    grid-area: head;
    background-color: aqua;
    margin-top: 0px;
}
#errorBox {
    grid-area: errorBox;
    margin: auto;
    width: 60%;
    background-color: red;
    border: 0.15em solid darkred;
    border-radius: 1.7em;
    display: none;
}
.error-box-list {
    list-style: none;
}
#form {
    grid-area: form;
}
#dataField {
    grid-area: data;
    display: none;
}
#lowerDiv {
    grid-area: lowerDiv;
}

.title {
    color: red;
    text-align: center;
}
.form-fieldset, form {
    max-width: max-content;
    margin: auto;
    width: 70%;
    text-align: center;
}
#titleForm {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
fieldset {
    background-color: aliceblue;
}
button {
    border-radius: 1em;
}
#submitForm {
    background-color: greenyellow;
}
#newProjectileButton {
    background-color: coral;
}
#clearCanvasButton {
    background-color: turquoise;
}
#viewAllTrajectoriesButton {
    background-color: cadetblue;
}
input, label {
    display: inline;
}
legend {
    text-align: center;
}
.projectile-canvas {
    border: 0.15em solid red;
    width: 100%;
    height: 100%;
    min-width: max-content;
    min-height: max-content;
    display: block;
}
#tutorial {
    display: none;
}
li {
    margin-bottom: 0.7em;
}
.data-element {
    margin: 0.7em 0.7em;
}
#buttons {
    background-color: aqua;
    padding: 0.3em 0.5em;
}
#showMeters {
    margin: 0px;
}